<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backendPrefix</key>
	<string>/приложение</string>
	<key>userSpacePrefix</key>
	<string>/сеть</string>
	<key>domain</key>
	<string>kuchumovn.no-ip.biz</string>
</dict>
</plist>
